.container
  - @search_results.each do |result|
    .search-result
      .col-xs-6.col-md-3
        %h3.text-center= result.username
        %a.thumbnail{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#{add_to_queue_url id: result.id}", :title => "Add to queue"}
          = image_tag result.profile_picture
